.App {
  /*text-align: center;*/
}

.App-header {
  background-color: #2C2F33;
  padding-left: 5vmin;
  padding-right: 5vmin;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.Divider {
  background-color: #FFFFFF;
  height: 1px;
  margin-bottom: 10px;
}

.Gallery {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
}

/*.Gallery-row {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

.Gallery-item {
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 3 1 30vmin;
  margin: 5px;
  height: 30vmin;
  cursor: pointer;
}
