.App {
  /*text-align: center;*/
}

.App-header {
  background-color: #2C2F33;
  padding-left: 5vmin;
  padding-right: 5vmin;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.Divider {
  background-color: #FFFFFF;
  height: 1px;
  margin-bottom: 10px;
}

.Gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.Gallery-row {
  display: flex;
  flex-direction: row;
  height: 30vmin;
}

.Gallery-item {
  background-color: green;
  flex: 1;
  margin: 5px;
}
